<form >
    <img src="" alt="volver">
    <h2>Registrarse al curso de Taller de HTML</h2>
    <div>
      <app-datos [datos]="'Cursos:'"></app-datos>
      <h2>{{titulo}}</h2>
      <app-datos [datos]="'Nombre'"></app-datos>
      <input required>
      <app-datos [datos]="'Apellido'"></app-datos>
      <input required>
      <app-datos [datos]="'Email'"></app-datos>
      <input  required>
      <app-datos [datos]="'Telefono'"></app-datos>
      <input required>
      <app-boton></app-boton>
    </div>
  </form>