@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;500&display=swap');

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

h1,h3{
    text-align: center;
}

a{
    color: #fff;
}
button{
    border-radius: 10%;
    width: 100px;
}




