* {
    background: #6553D6;   
    color: #fff;
    height: 5vw;
}

.curso-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curso-title {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left; /* Alinea a la izquierda */
    margin: 0; /* Elimina el margen predeterminado */
}

.custom-button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
}
