.footer-container {
    height: 5vw;
    background-color: #3A2C93;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  