<div class="container">
    <div class="todo curso-html">
      <app-titulo [titulo]="'Taller de HTML'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-css">
      <app-titulo [titulo]="'Taller de CSS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-js">
      <app-titulo [titulo]="'Taller de JS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-metodologias-css">
      <app-titulo [titulo]="'Metodologías CSS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-framework-frontend">
      <app-titulo [titulo]="'Framework FrontEnd'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-atomic-design">
      <app-titulo [titulo]="'Atomic Design'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
  </div>
  