<div class="container">
    <div class="todo curso-html">
      <app-titulo  class="titHtml" [titulo]="'Taller de HTML'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton  class="btnTodo btnHtml" buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-css">
      <app-titulo class="titCss" [titulo]="'Taller de CSS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton  class="btnTodo btnCss" buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-js">
      <app-titulo class="titJs" [titulo]="'Taller de JS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton class="btnTodo btnJs"  buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-metodologias-css">
      <app-titulo class="titMet" [titulo]="'Metodologías CSS'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton class="btnTodo btnMet" buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-framework-frontend">
      <app-titulo class="titFrame" [titulo]="'Framework FrontEnd'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton class="btnTodo btnFrame" buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
    <div class="todo curso-atomic-design">
      <app-titulo class="titAtomic" [titulo]="'Atomic Design'"></app-titulo>
      <app-descripcion [descripcion]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rerum? Quia, deleniti amet officiis ex nobis 1'"></app-descripcion>
      <app-boton class="btnTodo btnAtomic" buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
    </div>
  </div>
  