<div>
    <app-titulo [titulo]="'Taller de HTML'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
<div>
    <app-titulo [titulo]="'Taller de Css'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
<div>
    <app-titulo [titulo]="'Taller de JS'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
<div>
    <app-titulo [titulo]="'Metodologias CSS'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
<div>
    <app-titulo [titulo]="'Framework FrontEnd'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
<div>
    <app-titulo [titulo]="'Atomic Design'"></app-titulo>
    <app-descripcion [descripcion]="'Descripción 1'"></app-descripcion>
    <app-boton buttonText="Registrarse" (clicEnBoton)="otraFuncion()"></app-boton>
</div>
